services:
  database:
    image: mongo
    container_name: database
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend-primary:
    build: ./server
    container_name: backend-primary
    ports:
      - "5001:5000"
    depends_on:
      - database
    volumes:
      - ./server:/app
      - /app/node_modules

  backend-secondary:
    build: ./server
    container_name: backend-secondary
    ports:
      - "5002:5000"
    depends_on:
      - database
    volumes:
      - ./server:/app
      - /app/node_modules

  load-balancer:
    image: nginx
    container_name: load-balancer
    ports:
      - "80:80"
      - "443:443"
      - "5000:5000"
    depends_on:
      - backend-primary
      - backend-secondary
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro

  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - load-balancer
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  mongo-data:
